@model ContosoUniv.WebApp.Models.Role.RoleCreateMdl
@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Role</h1>

<hr />
<div class="">
    <form id="mainForm" method="post">
        <input asp-for="SelectedPermits" type="hidden" />

        <div class="form-group row">
            <label asp-for="RoleName" class="col-md-4"></label>
            <div class="col-md-8">
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4">Permissions</label>
            <div class="col-md-8">
                @foreach ( var permit in Model.PermitList )
                {
                    @if ( permit.Selected )
                    {
                        <input id="@permit.Value" type="checkbox" checked class="form-check-inline permit-cbx" />@permit.Text<br />
                    }
                    else
                    {
                        <input id="@permit.Value" type="checkbox" class="form-check-inline permit-cbx" />@permit.Text<br />
                    }
                }
            </div>
        </div>
        <div><br /></div>
        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Submit" />
                <input type="button" class="btn btn-secondary" value="Cancel" style="margin-left: 100px" onclick="javascript:window.location.href='@Url.Action( "Index", "Home" )'"/>
            </div>
        </div>
    </form>
</div>

@section Scripts {
<script>
    $("#mainForm").submit(function mainForm_submit() {
        $("#SelectedPermits").val($(".permit-cbx:checked").map(function () { return this.id }).get().join(";"))
    })
</script>
}